
USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[view_catmonth]') AND xtype = N'V') DROP VIEW [dbo].[view_catmonth]
GO
CREATE VIEW [dbo].[view_catmonth] as
SELECT ROW_NUMBER() OVER (ORDER BY name) AS codview_catmonth,
ct. name as category_type,
year(e.DATE) as year,
month(e.DATE) as month,
sum(e.value) as total,
'0' as ZZSTATE
from dbo.mntcategory_type ct
join dbo.MNTEXPENSE e on ct.CODCATEGORY_TYPE = e.TYPE_ID
group by name,  year(e.DATE), month(e.DATE)
;
GO
-- comment to prevent the file from being empty
-- if the file is empty the backoffice will throw an error

EXEC BackupComputedColumns
GO
 EXEC RestoreComputedColumns
GO