-- A actualização de estados transforma as linhas de todas as tabelas com o zzstate a 1 para zzstate a 11 (fichas vermelhas)
use [W_GnBD]
UPDATE [NOTIFICATIONMESSAGE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [USERAUTHORIZATION] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTGROUP_PSW] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESS] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTCATEGORY_TYPE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTMEM] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESSATTACHMENTS] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTGROUP] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTSOURCE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [USERLOGIN] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTMEMBER] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTYEAR] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [NOTIFICATIONEMAILSIGNATURE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTMONTH] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTEXPENSE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTCATEGORY] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTINCOME] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTMEMBER_PSW] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESSARGUMENT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [MNTINVESTMENT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
GO
