USE [W_GnBD]
if (3 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTCATEGORY_TYPE_CODCATEGORY_TYPE', 'codcategory_type', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTCATEGORY_TYPE_459683D30C7E47C2', 'name', 0, 1, 0, 0
UNION ALL
SELECT 'MNTCATEGORY_TYPE_459683D30C7E47C2','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'mntcategory_type', 'MNTCATEGORY_TYPE_CODCATEGORY_TYPE', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTGROUP_CODGROUP', 'codgroup', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTGROUP_7CC2FD3CF9014D55', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'mntgroup', 'MNTGROUP_CODGROUP', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'mntmem', 'MNTMEM_CODMEM__', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTPSW_DFFEAFD4CBE14CA2', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'MNTPSW_DFFEAFD4CBE14CA2','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'mnt';
end
GO
if (3 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTCATEGORY_CODCATEGORY', 'codcategory', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTCATEGORY_ACB10630038E4B90', 'type_id', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTCATEGORY_ACB10630038E4B90', 'description', 0, 2, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTCATEGORY_565C48B24E3D4346', 'name', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTCATEGORY_565C48B24E3D4346', 'type_id', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'mntcategory', 'MNTCATEGORY_CODCATEGORY', 'mnt';
end
GO
if (8 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTGROUP_PSW_CODGROUP_PSW', 'codgroup_psw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTGROUP_PSW_C1D8A24BB8A743E3', 'group_id', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'mntgroup_psw', 'MNTGROUP_PSW_CODGROUP_PSW', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTMEMBER_CODMEMBER', 'codmember', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTMEMBER_356A0BDF84E442D5', 'email', 0, 1, 0, 0
UNION ALL
SELECT 'MNTMEMBER_356A0BDF84E442D5','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTMEMBER_F9332210862447D7', 'group_id', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTMEMBER_1E7C611EA6064E07', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'mntmember', 'MNTMEMBER_CODMEMBER', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'mnt';
end
GO
if (1 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTS_UA_1ED925A5FB974C4D', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTS_UA_1ED925A5FB974C4D', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'MNTS_UA_1ED925A5FB974C4D','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'mnt';
end
GO
if (8 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTMEMBER_PSW_CODMEMBER_PSW', 'codmember_psw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTMEMBER_PSW_ADED400F64C84BA9', 'member_id', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'mntmember_psw', 'MNTMEMBER_PSW_CODMEMBER_PSW', 'mnt';
end
GO
if (5 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTSOURCE_CODSOURCE', 'codsource', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTSOURCE_C3ACA6F565D24175', 'member_id', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTSOURCE_D933B0B698594E03', 'account_number', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTSOURCE_0B5A008617924C43', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTSOURCE_0B5A008617924C43', 'member_id', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'mntsource', 'MNTSOURCE_CODSOURCE', 'mnt';
end
GO
if (7 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTEXPENSE_CODEXPENSE', 'codexpense', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTEXPENSE_DF464F6E5F134BA5', 'expense_id', 1, 1, 0, 0
UNION ALL
SELECT 'MNTEXPENSE_DF464F6E5F134BA5','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTEXPENSE_32AEE8212BFE43CB', 'member_id', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'mntexpense', 'MNTEXPENSE_CODEXPENSE', 'mnt';
end
GO
if (7 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTINCOME_CODINCOME', 'codincome', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTINCOME_ADECBB743285419E', 'income_id', 1, 1, 0, 0
UNION ALL
SELECT 'MNTINCOME_ADECBB743285419E','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTINCOME_47C454C21C6B41FB', 'member_id', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'mntincome', 'MNTINCOME_CODINCOME', 'mnt';
end
GO
if (7 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MNTINVESTMENT_CODINVESTMENT', 'codinvestment', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTINVESTMENT_74E1372AA8D04291', 'investment_id', 1, 1, 0, 0
UNION ALL
SELECT 'MNTINVESTMENT_74E1372AA8D04291','zzState', 1, 0, 1, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'MNTINVESTMENT_F43E2D31CF4A4BCA', 'member_id', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'mntinvestment', 'MNTINVESTMENT_CODINVESTMENT', 'mnt';
end
GO

if (8 > isnull((select versindx from MNTcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'mntalerta_alerta01'))
	DROP INDEX mntalerta_alerta01 ON mntalerta
CREATE INDEX mntalerta_alerta01 ON mntalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'mntpostit_postit01'))
	DROP INDEX mntpostit_postit01 ON mntpostit
CREATE INDEX mntpostit_postit01 ON mntpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'mntpostit_postit02'))
	DROP INDEX mntpostit_postit02 ON mntpostit
CREATE INDEX mntpostit_postit02 ON mntpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'mntpostit_postit03'))
	DROP INDEX mntpostit_postit03 ON mntpostit
CREATE INDEX mntpostit_postit03 ON mntpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'mntpostit_postit04'))
	DROP INDEX mntpostit_postit04 ON mntpostit
CREATE INDEX mntpostit_postit04 ON mntpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'mntpostit_postit05'))
	DROP INDEX mntpostit_postit05 ON mntpostit
CREATE INDEX mntpostit_postit05 ON mntpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'mntpostit_postit06'))
	DROP INDEX mntpostit_postit06 ON mntpostit
CREATE INDEX mntpostit_postit06 ON mntpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'mntpostit_postit07'))
	DROP INDEX mntpostit_postit07 ON mntpostit
CREATE INDEX mntpostit_postit07 ON mntpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'mntaltent_altent01'))
	DROP INDEX mntaltent_altent01 ON mntaltent
CREATE INDEX mntaltent_altent01 ON mntaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'mntdelega_delega01'))
	DROP INDEX mntdelega_delega01 ON mntdelega
CREATE INDEX mntdelega_delega01 ON mntdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'mntdelega_delega02'))
	DROP INDEX mntdelega_delega02 ON mntdelega
CREATE INDEX mntdelega_delega02 ON mntdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'mntlstusr_codpsw'))
	DROP INDEX mntlstusr_codpsw ON mntlstusr
CREATE INDEX mntlstusr_codpsw ON mntlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'mntlstcol_codlstusr'))
	DROP INDEX mntlstcol_codlstusr ON mntlstcol
CREATE INDEX mntlstcol_codlstusr ON mntlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'mntlstren_codlstusr'))
	DROP INDEX mntlstren_codlstusr ON mntlstren
CREATE INDEX mntlstren_codlstusr ON mntlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'mntusrwid_codlstusr'))
	DROP INDEX mntusrwid_codlstusr ON mntusrwid
CREATE INDEX mntusrwid_codlstusr ON mntusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'mnttblcfg_codpsw_uuid_name'))
	DROP INDEX mnttblcfg_codpsw_uuid_name ON mnttblcfg
CREATE INDEX mnttblcfg_codpsw_uuid_name ON mnttblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'mnttblcfg_codpsw_uuid'))
	DROP INDEX mnttblcfg_codpsw_uuid ON mnttblcfg
CREATE INDEX mnttblcfg_codpsw_uuid ON mnttblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logmntall_logmntall01'))
	DROP INDEX logmntall_logmntall01 ON logmntall
CREATE CLUSTERED INDEX [logmntall_logmntall01] ON [dbo].[logMNTall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE MNTcfg set versindx = 8
end
GO