USE [W_GnBD]

GO

-- migração de dados da tabela MNTCATEGORY_TYPE (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTCATEGORY_TYPE] ([CODCATEGORY_TYPE], [NAME], [LOGO], [TOTAL_SUM], [ZZSTATE])
SELECT [CATEGORY_TYPE].[CODCATEGORY_TYPE], [CATEGORY_TYPE].[NAME], [CATEGORY_TYPE].[LOGO], [CATEGORY_TYPE].[TOTAL_SUM], [CATEGORY_TYPE].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTCATEGORY_TYPE] AS [CATEGORY_TYPE]
WHERE [CATEGORY_TYPE].ZZSTATE = 0
GO

-- migração de dados da tabela MNTGROUP (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTGROUP] ([CODGROUP], [NAME], [ZZSTATE])
SELECT [GROUP].[CODGROUP], [GROUP].[NAME], [GROUP].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTGROUP] AS [GROUP]
WHERE [GROUP].ZZSTATE = 0
GO

-- migração de dados da tabela MNTMEM (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTMEM] ([CODMEM], [LOGIN], [ROTINA], [ALTURA], [OBS], [HOSTID], [CLIENTID], [ZZSTATE])
SELECT [MEM].[CODMEM], [MEM].[LOGIN], [MEM].[ROTINA], [MEM].[ALTURA], [MEM].[OBS], [MEM].[HOSTID], [MEM].[CLIENTID], [MEM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTMEM] AS [MEM]
WHERE [MEM].ZZSTATE = 0
GO

-- migração de dados da tabela UserLogin (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[UserLogin] ([CODPSW], [NOME], [PASSWORD], [CERTSN], [EMAIL], [PSWTYPE], [SALT], [DATAPSW], [USERID], [PSW2FAVL], [PSW2FATP], [DATEXP], [ATTEMPTS], [PHONE], [STATUS], [ASSOCIA], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [PSW].[CODPSW], [PSW].[NOME], [PSW].[PASSWORD], [PSW].[CERTSN], [PSW].[EMAIL], [PSW].[PSWTYPE], [PSW].[SALT], [PSW].[DATAPSW], [PSW].[USERID], [PSW].[PSW2FAVL], [PSW].[PSW2FATP], [PSW].[DATEXP], [PSW].[ATTEMPTS], [PSW].[PHONE], [PSW].[STATUS], [PSW].[ASSOCIA], [PSW].[OPERCRIA], [PSW].[DATACRIA], [PSW].[OPERMUDA], [PSW].[DATAMUDA], [PSW].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[UserLogin] AS [PSW]
WHERE [PSW].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcess (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcess] ([CODASCPR], [TYPE], [DATEREQU], [INITPRC], [ENDPRC], [DURATION], [STATUS], [RSLTMSG], [FINISHED], [LASTUPDT], [RESULT], [INFO], [PERCENTA], [MODOPROC], [EXTERNAL], [ID], [CODENTIT], [MOTIVO], [CODPSW], [OPERSHUT], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_APR].[CODASCPR], [S_APR].[TYPE], [S_APR].[DATEREQU], [S_APR].[INITPRC], [S_APR].[ENDPRC], [S_APR].[DURATION], [S_APR].[STATUS], [S_APR].[RSLTMSG], [S_APR].[FINISHED], [S_APR].[LASTUPDT], [S_APR].[RESULT], [S_APR].[INFO], [S_APR].[PERCENTA], [S_APR].[MODOPROC], [S_APR].[EXTERNAL], [S_APR].[ID], [S_APR].[CODENTIT], [S_APR].[MOTIVO], [S_APR].[CODPSW], [S_APR].[OPERSHUT], [S_APR].[OPERCRIA], [S_APR].[DATACRIA], [S_APR].[OPERMUDA], [S_APR].[DATAMUDA], [S_APR].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcess] AS [S_APR]
WHERE [S_APR].ZZSTATE = 0
GO

-- migração de dados da tabela NotificationEmailSignature (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[NotificationEmailSignature] ([CODSIGNA], [NAME], [IMAGE], [TEXTASS], [USERNAME], [PASSWORD], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_NES].[CODSIGNA], [S_NES].[NAME], [S_NES].[IMAGE], [S_NES].[TEXTASS], [S_NES].[USERNAME], [S_NES].[PASSWORD], [S_NES].[OPERCRIA], [S_NES].[DATACRIA], [S_NES].[OPERMUDA], [S_NES].[DATAMUDA], [S_NES].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[NotificationEmailSignature] AS [S_NES]
WHERE [S_NES].ZZSTATE = 0
GO

-- migração de dados da tabela NotificationMessage (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[NotificationMessage] ([CODMESGS], [CODSIGNA], [CODPMAIL], [FROM], [CODTPNOT], [CODDESTN], [TO], [DESTNMAN], [TOMANUAL], [CC], [BCC], [IDNOTIF], [NOTIFICA], [EMAIL], [ASSUNTO], [AGREGADO], [ANEXO], [HTML], [ATIVO], [DESIGNAC], [MENSAGEM], [GRAVABD], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_NM].[CODMESGS], [S_NM].[CODSIGNA], [S_NM].[CODPMAIL], [S_NM].[FROM], [S_NM].[CODTPNOT], [S_NM].[CODDESTN], [S_NM].[TO], [S_NM].[DESTNMAN], [S_NM].[TOMANUAL], [S_NM].[CC], [S_NM].[BCC], [S_NM].[IDNOTIF], [S_NM].[NOTIFICA], [S_NM].[EMAIL], [S_NM].[ASSUNTO], [S_NM].[AGREGADO], [S_NM].[ANEXO], [S_NM].[HTML], [S_NM].[ATIVO], [S_NM].[DESIGNAC], [S_NM].[MENSAGEM], [S_NM].[GRAVABD], [S_NM].[OPERCRIA], [S_NM].[DATACRIA], [S_NM].[OPERMUDA], [S_NM].[DATAMUDA], [S_NM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[NotificationMessage] AS [S_NM]
WHERE [S_NM].ZZSTATE = 0
GO

-- migração de dados da tabela MNTCATEGORY (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTCATEGORY] ([CODCATEGORY], [NAME], [DESCRIPTION], [TYPE_ID], [ZZSTATE])
SELECT [CATEGORY].[CODCATEGORY], [CATEGORY].[NAME], [CATEGORY].[DESCRIPTION], [CATEGORY].[TYPE_ID], [CATEGORY].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTCATEGORY] AS [CATEGORY]
WHERE [CATEGORY].ZZSTATE = 0
GO

-- migração de dados da tabela MNTGROUP_PSW (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTGROUP_PSW] ([CODGROUP_PSW], [GROUP_ID], [CODPSW], [ZZSTATE])
SELECT [GROUP_PSW].[CODGROUP_PSW], [GROUP_PSW].[GROUP_ID], [GROUP_PSW].[CODPSW], [GROUP_PSW].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTGROUP_PSW] AS [GROUP_PSW]
WHERE [GROUP_PSW].ZZSTATE = 0
GO

-- migração de dados da tabela MNTMEMBER (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTMEMBER] ([CODMEMBER], [NAME], [BIRTHDAY], [EMAIL], [PHONE], [PHOTO], [GROUP_ID], [AGE], [ZZSTATE])
SELECT [MEMBER].[CODMEMBER], [MEMBER].[NAME], [MEMBER].[BIRTHDAY], [MEMBER].[EMAIL], [MEMBER].[PHONE], [MEMBER].[PHOTO], [MEMBER].[GROUP_ID], [MEMBER].[AGE], [MEMBER].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTMEMBER] AS [MEMBER]
WHERE [MEMBER].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcessArgument (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcessArgument] ([CODARGPR], [CODS_APR], [ID], [VALOR], [DOCUMENT], [DOCUMENTFK], [TIPO], [DESIGNAC], [HIDDEN], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_ARG].[CODARGPR], [S_ARG].[CODS_APR], [S_ARG].[ID], [S_ARG].[VALOR], [S_ARG].[DOCUMENT], [S_ARG].[DOCUMENTFK], [S_ARG].[TIPO], [S_ARG].[DESIGNAC], [S_ARG].[HIDDEN], [S_ARG].[OPERCRIA], [S_ARG].[DATACRIA], [S_ARG].[OPERMUDA], [S_ARG].[DATAMUDA], [S_ARG].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcessArgument] AS [S_ARG]
WHERE [S_ARG].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcessAttachments (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcessAttachments] ([CODPRANX], [CODS_APR], [DOCUMENT], [DOCUMENTFK], [OPERCRIA], [DATACRIA], [ZZSTATE])
SELECT [S_PAX].[CODPRANX], [S_PAX].[CODS_APR], [S_PAX].[DOCUMENT], [S_PAX].[DOCUMENTFK], [S_PAX].[OPERCRIA], [S_PAX].[DATACRIA], [S_PAX].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcessAttachments] AS [S_PAX]
WHERE [S_PAX].ZZSTATE = 0
GO

-- migração de dados da tabela UserAuthorization (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[UserAuthorization] ([CODUA], [CODPSW], [SISTEMA], [MODULO], [NAODUPLI], [ROLE], [NIVEL], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_UA].[CODUA], [S_UA].[CODPSW], [S_UA].[SISTEMA], [S_UA].[MODULO], [S_UA].[NAODUPLI], [S_UA].[ROLE], [S_UA].[NIVEL], [S_UA].[OPERCRIA], [S_UA].[DATACRIA], [S_UA].[OPERMUDA], [S_UA].[DATAMUDA], [S_UA].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[UserAuthorization] AS [S_UA]
WHERE [S_UA].ZZSTATE = 0
GO

-- migração de dados da tabela MNTMEMBER_PSW (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTMEMBER_PSW] ([CODMEMBER_PSW], [MEMBER_ID], [CODPSW], [ZZSTATE])
SELECT [MEMBER_PSW].[CODMEMBER_PSW], [MEMBER_PSW].[MEMBER_ID], [MEMBER_PSW].[CODPSW], [MEMBER_PSW].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTMEMBER_PSW] AS [MEMBER_PSW]
WHERE [MEMBER_PSW].ZZSTATE = 0
GO

-- migração de dados da tabela MNTSOURCE (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTSOURCE] ([CODSOURCE], [TYPE], [TITLE], [BALANCE], [BANK], [ACCOUNT_NUMBER], [MEMBER_ID], [UPDATED_AT], [CREATED_AT], [CREATED_BY], [UPDATED_BY], [GROUP_ID], [ZZSTATE])
SELECT [SOURCE].[CODSOURCE], [SOURCE].[TYPE], [SOURCE].[TITLE], [SOURCE].[BALANCE], [SOURCE].[BANK], [SOURCE].[ACCOUNT_NUMBER], [SOURCE].[MEMBER_ID], [SOURCE].[UPDATED_AT], [SOURCE].[CREATED_AT], [SOURCE].[CREATED_BY], [SOURCE].[UPDATED_BY], [SOURCE].[GROUP_ID], [SOURCE].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTSOURCE] AS [SOURCE]
WHERE [SOURCE].ZZSTATE = 0
GO

-- migração de dados da tabela MNTEXPENSE (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTEXPENSE] ([CODEXPENSE], [EXPENSE_ID], [CATEGORY_ID], [MEMBER_ID], [SOURCE_ID], [TYPE_ID], [VALUE], [DESCRIPTION], [DATE], [INVOICE], [INVOICEFK], [UPDATED_AT], [CREATED_AT], [CREATED_BY], [UPDATED_BY], [GROUP_ID], [ZZSTATE])
SELECT [EXPENSE].[CODEXPENSE], [EXPENSE].[EXPENSE_ID], [EXPENSE].[CATEGORY_ID], [EXPENSE].[MEMBER_ID], [EXPENSE].[SOURCE_ID], [EXPENSE].[TYPE_ID], [EXPENSE].[VALUE], [EXPENSE].[DESCRIPTION], [EXPENSE].[DATE], [EXPENSE].[INVOICE], [EXPENSE].[INVOICEFK], [EXPENSE].[UPDATED_AT], [EXPENSE].[CREATED_AT], [EXPENSE].[CREATED_BY], [EXPENSE].[UPDATED_BY], [EXPENSE].[GROUP_ID], [EXPENSE].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTEXPENSE] AS [EXPENSE]
WHERE [EXPENSE].ZZSTATE = 0
GO

-- migração de dados da tabela MNTINCOME (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTINCOME] ([CODINCOME], [INCOME_ID], [CATEGORY_ID], [MEMBER_ID], [SOURCE_ID], [TYPE_ID], [VALUE], [DESCRIPTION], [DATE], [UPDATED_AT], [CREATED_AT], [CREATED_BY], [UPDATED_BY], [GROUP_ID], [ZZSTATE])
SELECT [INCOME].[CODINCOME], [INCOME].[INCOME_ID], [INCOME].[CATEGORY_ID], [INCOME].[MEMBER_ID], [INCOME].[SOURCE_ID], [INCOME].[TYPE_ID], [INCOME].[VALUE], [INCOME].[DESCRIPTION], [INCOME].[DATE], [INCOME].[UPDATED_AT], [INCOME].[CREATED_AT], [INCOME].[CREATED_BY], [INCOME].[UPDATED_BY], [INCOME].[GROUP_ID], [INCOME].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTINCOME] AS [INCOME]
WHERE [INCOME].ZZSTATE = 0
GO

-- migração de dados da tabela MNTINVESTMENT (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[MNTINVESTMENT] ([CODINVESTMENT], [INVESTMENT_ID], [CATEGORY_ID], [MEMBER_ID], [SOURCE_ID], [TYPE_ID], [VALUE], [DESCRIPTION], [DATE], [UPDATED_AT], [CREATED_AT], [CREATED_BY], [UPDATED_BY], [GROUP_ID], [ZZSTATE])
SELECT [INVESTMENT].[CODINVESTMENT], [INVESTMENT].[INVESTMENT_ID], [INVESTMENT].[CATEGORY_ID], [INVESTMENT].[MEMBER_ID], [INVESTMENT].[SOURCE_ID], [INVESTMENT].[TYPE_ID], [INVESTMENT].[VALUE], [INVESTMENT].[DESCRIPTION], [INVESTMENT].[DATE], [INVESTMENT].[UPDATED_AT], [INVESTMENT].[CREATED_AT], [INVESTMENT].[CREATED_BY], [INVESTMENT].[UPDATED_BY], [INVESTMENT].[GROUP_ID], [INVESTMENT].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[MNTINVESTMENT] AS [INVESTMENT]
WHERE [INVESTMENT].ZZSTATE = 0
GO

-- Tabelas Hardcoded
-- migração de dados da tabela Codigos Sequenciais
INSERT INTO [W_GnBD].[dbo].[Codigos_Sequenciais] (id_objecto, proximo)
SELECT id_objecto, proximo FROM [W_GnSrcBD].[dbo].[Codigos_Sequenciais]
GO

-- migração de dados da tabela UserAuthorization
INSERT INTO [W_GnBD].[dbo].[UserAuthorization] (CODUA, CODPSW, SISTEMA, MODULO, ROLE, NIVEL, ZZSTATE)
SELECT UA.CODUA, UA.CODPSW, UA.SISTEMA, UA.MODULO, UA.ROLE, UA.NIVEL, UA.ZZSTATE FROM [W_GnSrcBD].[dbo].[UserAuthorization] AS UA
WHERE UA.ZZSTATE = 0
GO

-- migração de dados da tabela CFG (ao criar schema, fica criada uma linha nesta tabela)
--INSERT INTO [W_GnBD].[dbo].[MNTcfg] (codcfg, checkdat, versao, versindx, manutdat, upgrindx, ZZSTATE)
--SELECT codcfg, checkdat, versao, versindx, manutdat, upgrindx, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTcfg]
--WHERE ZZSTATE = 0
--GO

-- migração de dados da tabela LSTUSR
INSERT INTO [W_GnBD].[dbo].[MNTlstusr] (CODLSTUSR, CODPSW, DESCRIC, IDLIST, MODULO, SISTEMA, ORDERCOL, ORDERTYPE, [DATA], ZZSTATE)
SELECT CODLSTUSR, CODPSW, DESCRIC, IDLIST, MODULO, SISTEMA, ORDERCOL, ORDERTYPE, [DATA], ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTlstusr]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela LSTCOL
INSERT INTO [W_GnBD].[dbo].[MNTlstcol] (CODLSTCOL, CODLSTUSR, TABELA, ALIAS, CAMPO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE)
SELECT CODLSTCOL, CODLSTUSR, TABELA, ALIAS, CAMPO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTlstcol]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela LSTREN
INSERT INTO [W_GnBD].[dbo].[MNTlstren] (CODLSTREN, CODLSTUSR, RENDERIZACAO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE)
SELECT CODLSTREN, CODLSTUSR, RENDERIZACAO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTlstren]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRWID
INSERT INTO [W_GnBD].[dbo].[MNTusrwid] (CODUSRWID, CODLSTUSR, WIDGET, ROWKEY, VISIBLE, HPOSITION, VPOSITION, ZZSTATE)
SELECT CODUSRWID, CODLSTUSR, WIDGET, ROWKEY, VISIBLE, HPOSITION, VPOSITION, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTusrwid]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRCFG
INSERT INTO [W_GnBD].[dbo].[MNTusrcfg] (codusrcfg, modulo, codpsw, tipo, id, ZZSTATE)
SELECT codusrcfg, modulo, codpsw, tipo, id, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTusrcfg]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRSET
INSERT INTO [W_GnBD].[dbo].[MNTusrset] (codusrset, modulo, codpsw, chave, valor, ZZSTATE)
SELECT codusrset, modulo, codpsw, chave, valor, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTusrset]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFACT
INSERT INTO [W_GnBD].[dbo].[MNTwkfact] (codwkfact, wfid, actid, tpactid, descrica, duracao, perfil, perfilu, x, y, ZZSTATE)
SELECT codwkfact, wfid, actid, tpactid, descrica, duracao, perfil, perfilu, x, y, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTwkfact]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFCON
INSERT INTO [W_GnBD].[dbo].[MNTwkfcon] (codwkfcon, wfid, condid, tpcondid, descrica, tiporegr, sinal, x, y, valor, ZZSTATE)
SELECT codwkfcon, wfid, condid, tpcondid, descrica, tiporegr, sinal, x, y, valor, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTwkfcon]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFLIG
INSERT INTO [W_GnBD].[dbo].[MNTwkflig] (codwkflig, wfid, parentid, childid, ptoy, ptox, ptor, tipo, pfromx, pfromy, pfromr, ZZSTATE)
SELECT codwkflig, wfid, parentid, childid, ptoy, ptox, ptor, tipo, pfromx, pfromy, pfromr, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTwkflig]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFLOW
INSERT INTO [W_GnBD].[dbo].[MNTwkflow] (codwkflow, descrica, modulo, ZZSTATE)
SELECT codwkflow, descrica, modulo, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTwkflow]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela NOTIFI
INSERT INTO [W_GnBD].[dbo].[MNTnotifi] (codnotifi, modulo, descrica, activid, menuid, usernivl, wfid, ZZSTATE)
SELECT codnotifi, modulo, descrica, activid, menuid, usernivl, wfid, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTnotifi]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela PRMFRM
INSERT INTO [W_GnBD].[dbo].[MNTprmfrm] (codprmfrm, desform, perfil, autoriza, sevalida, prfvalid, prazodia, comprova, prazohor, secompro, mensag1, mensag2, mensag3, mensag4, ZZSTATE)
SELECT codprmfrm, desform, perfil, autoriza, sevalida, prfvalid, prazodia, comprova, prazohor, secompro, mensag1, mensag2, mensag3, mensag4, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTprmfrm]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela SCRCRD
INSERT INTO [W_GnBD].[dbo].[MNTscrcrd] (codscrcrd, descrica, valor, cor, seta, usernivl, ZZSTATE)
SELECT codscrcrd, descrica, valor, cor, seta, usernivl, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTscrcrd]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela DOCUMS
INSERT INTO [W_GnBD].[dbo].[docums] (coddocums, documid, document, docpath, tabela, campo, chave, form, nome, versao, tamanho, extensao, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT coddocums, documid, document, docpath, tabela, campo, chave, form, nome, versao, tamanho, extensao, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[docums]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela POSTIT
INSERT INTO [W_GnBD].[dbo].[MNTpostit] (codpostit, tabela, codtabel, postit, tpostit, datacria, opercria, codpsw, lido, apagado, validade, nivel, codpost1, ZZSTATE)
SELECT codpostit, tabela, codtabel, postit, tpostit, datacria, opercria, codpsw, lido, apagado, validade, nivel, codpost1, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTpostit]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela HASHCD
INSERT INTO [W_GnBD].[dbo].[hashcd] (codhashcd, tabela, campos, datacria, ZZSTATE)
SELECT codhashcd, tabela, campos, datacria, ZZSTATE FROM [W_GnSrcBD].[dbo].[hashcd]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela ALERTA
INSERT INTO [W_GnBD].[dbo].[MNTalerta] (codalerta, codaltent, mensagem, tratado, activo, datacria, datareso, menu, cor, interno, backgrou, sms, email, emailenv, smsenvia, codigo, codigotp, ZZSTATE)
SELECT codalerta, codaltent, mensagem, tratado, activo, datacria, datareso, menu, cor, interno, backgrou, sms, email, emailenv, smsenvia, codigo, codigotp, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTalerta]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela ALTENT
INSERT INTO [W_GnBD].[dbo].[MNTaltent] (codaltent, codtalert, codpsw, grupo, contador, tipo, mensagem, antecede, datainic, datafina, dtmodifi, todos, backgrou, sms, email, codtpgru, codtpess, menu, incluian, activo, individu, ZZSTATE)
SELECT codaltent, codtalert, codpsw, grupo, contador, tipo, mensagem, antecede, datainic, datafina, dtmodifi, todos, backgrou, sms, email, codtpgru, codtpess, menu, incluian, activo, individu, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTaltent]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela TALERT
INSERT INTO [W_GnBD].[dbo].[MNTtalert] (codtalert, nome, metodo, priorida, cor, texto, menu, cmpnome, daltinic, daltfina, incluian, diferenc, anodifer, mesdifer, diadifer, ntabmae, ntabfilh, formid, tabela, campo, tipo, modulo, condicao, ZZSTATE)
SELECT codtalert, nome, metodo, priorida, cor, texto, menu, cmpnome, daltinic, daltfina, incluian, diferenc, anodifer, mesdifer, diadifer, ntabmae, ntabfilh, formid, tabela, campo, tipo, modulo, condicao, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTtalert]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela DELEGA
INSERT INTO [W_GnBD].[dbo].[MNTdelega] (coddelega, codpswup, codpswdw, dateini, dateend, message, revoked, auditusr, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT coddelega, codpswup, codpswdw, dateini, dateend, message, revoked, auditusr, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTdelega]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela TABDINAMIC
INSERT INTO [W_GnBD].[dbo].[MNTTABDINAMIC] (codtabdinamic, NOMETABELA, NOMECAMPO, TIPODADOS, TIPOSQL, LARGURA, ZZSTATE)
SELECT codtabdinamic, NOMETABELA, NOMECAMPO, TIPODADOS, TIPOSQL, LARGURA, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTTABDINAMIC]
WHERE ZZSTATE = 0
GO


-- migração de dados da tabela ALTRAN
INSERT INTO [W_GnBD].[dbo].[MNTaltran] (codaltran, typlabel, referenc, [language], curlabel, labellng, altran, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT codaltran, typlabel, referenc, [language], curlabel, labellng, altran, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTaltran]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WORKFLOWTASK
INSERT INTO [W_GnBD].[dbo].[MNTworkflowtask] (codtask, codprcess, taskdefid, taskid, performedby, runningsince, nextrun, modifieddate, modifiedby, skipped, isactive, errorExecute, ZZSTATE)
SELECT codtask, codprcess, taskdefid, taskid, performedby, runningsince, nextrun, modifieddate, modifiedby, skipped, isactive, errorExecute, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTworkflowtask]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WORKFLOWPROCESS
INSERT INTO [W_GnBD].[dbo].[MNTworkflowprocess] (codprcess, prcessid, prcessdefid, createdby, status, startdate, modifieddate, modifiedby, codinstance, dotgraph, wferror, ltask, idhk, ZZSTATE)
SELECT codprcess, prcessid, prcessdefid, createdby, status, startdate, modifieddate, modifiedby, codinstance, dotgraph, wferror, ltask, idhk, ZZSTATE FROM [W_GnSrcBD].[dbo].[MNTworkflowprocess]
WHERE ZZSTATE = 0
GO


USE [W_GnBD]
GO
-- Removing invalid FK values
UPDATE [CATEGORY] SET
[CATEGORY].[TYPE_ID] = [q0_CATEGORY_TYPE].[CODCATEGORY_TYPE]
 FROM [W_GnBD].[dbo].[MNTCATEGORY] AS [CATEGORY]
LEFT JOIN [MNTCATEGORY_TYPE] AS [q0_CATEGORY_TYPE] ON [CATEGORY].[TYPE_ID] = [q0_CATEGORY_TYPE].[CODCATEGORY_TYPE]
GO

UPDATE [GROUP_PSW] SET
[GROUP_PSW].[GROUP_ID] = [q0_GROUP].[CODGROUP]
, [GROUP_PSW].[CODPSW] = [q1_PSW].[CODPSW]
 FROM [W_GnBD].[dbo].[MNTGROUP_PSW] AS [GROUP_PSW]
LEFT JOIN [MNTGROUP] AS [q0_GROUP] ON [GROUP_PSW].[GROUP_ID] = [q0_GROUP].[CODGROUP]
LEFT JOIN [UserLogin] AS [q1_PSW] ON [GROUP_PSW].[CODPSW] = [q1_PSW].[CODPSW]
GO

UPDATE [MEMBER] SET
[MEMBER].[GROUP_ID] = [q0_GROUP].[CODGROUP]
 FROM [W_GnBD].[dbo].[MNTMEMBER] AS [MEMBER]
LEFT JOIN [MNTGROUP] AS [q0_GROUP] ON [MEMBER].[GROUP_ID] = [q0_GROUP].[CODGROUP]
GO

UPDATE [S_ARG] SET
[S_ARG].[CODS_APR] = [q0_S_APR].[CODASCPR]
 FROM [W_GnBD].[dbo].[AsyncProcessArgument] AS [S_ARG]
LEFT JOIN [AsyncProcess] AS [q0_S_APR] ON [S_ARG].[CODS_APR] = [q0_S_APR].[CODASCPR]
GO

UPDATE [S_PAX] SET
[S_PAX].[CODS_APR] = [q0_S_APR].[CODASCPR]
 FROM [W_GnBD].[dbo].[AsyncProcessAttachments] AS [S_PAX]
LEFT JOIN [AsyncProcess] AS [q0_S_APR] ON [S_PAX].[CODS_APR] = [q0_S_APR].[CODASCPR]
GO

UPDATE [S_UA] SET
[S_UA].[CODPSW] = [q0_PSW].[CODPSW]
 FROM [W_GnBD].[dbo].[UserAuthorization] AS [S_UA]
LEFT JOIN [UserLogin] AS [q0_PSW] ON [S_UA].[CODPSW] = [q0_PSW].[CODPSW]
GO

UPDATE [MEMBER_PSW] SET
[MEMBER_PSW].[MEMBER_ID] = [q0_MEMBER].[CODMEMBER]
, [MEMBER_PSW].[CODPSW] = [q1_PSW].[CODPSW]
 FROM [W_GnBD].[dbo].[MNTMEMBER_PSW] AS [MEMBER_PSW]
LEFT JOIN [MNTMEMBER] AS [q0_MEMBER] ON [MEMBER_PSW].[MEMBER_ID] = [q0_MEMBER].[CODMEMBER]
LEFT JOIN [UserLogin] AS [q1_PSW] ON [MEMBER_PSW].[CODPSW] = [q1_PSW].[CODPSW]
GO

UPDATE [SOURCE] SET
[SOURCE].[GROUP_ID] = [q0_GROUP].[CODGROUP]
, [SOURCE].[MEMBER_ID] = [q1_MEMBER].[CODMEMBER]
 FROM [W_GnBD].[dbo].[MNTSOURCE] AS [SOURCE]
LEFT JOIN [MNTGROUP] AS [q0_GROUP] ON [SOURCE].[GROUP_ID] = [q0_GROUP].[CODGROUP]
LEFT JOIN [MNTMEMBER] AS [q1_MEMBER] ON [SOURCE].[MEMBER_ID] = [q1_MEMBER].[CODMEMBER]
GO

UPDATE [EXPENSE] SET
[EXPENSE].[CATEGORY_ID] = [q0_CATEGORY].[CODCATEGORY]
, [EXPENSE].[TYPE_ID] = [q1_CATEGORY_TYPE].[CODCATEGORY_TYPE]
, [EXPENSE].[GROUP_ID] = [q2_GROUP].[CODGROUP]
, [EXPENSE].[MEMBER_ID] = [q3_MEMBER].[CODMEMBER]
, [EXPENSE].[SOURCE_ID] = [q4_SOURCE].[CODSOURCE]
 FROM [W_GnBD].[dbo].[MNTEXPENSE] AS [EXPENSE]
LEFT JOIN [MNTCATEGORY] AS [q0_CATEGORY] ON [EXPENSE].[CATEGORY_ID] = [q0_CATEGORY].[CODCATEGORY]
LEFT JOIN [MNTCATEGORY_TYPE] AS [q1_CATEGORY_TYPE] ON [EXPENSE].[TYPE_ID] = [q1_CATEGORY_TYPE].[CODCATEGORY_TYPE]
LEFT JOIN [MNTGROUP] AS [q2_GROUP] ON [EXPENSE].[GROUP_ID] = [q2_GROUP].[CODGROUP]
LEFT JOIN [MNTMEMBER] AS [q3_MEMBER] ON [EXPENSE].[MEMBER_ID] = [q3_MEMBER].[CODMEMBER]
LEFT JOIN [MNTSOURCE] AS [q4_SOURCE] ON [EXPENSE].[SOURCE_ID] = [q4_SOURCE].[CODSOURCE]
GO

UPDATE [INCOME] SET
[INCOME].[CATEGORY_ID] = [q0_CATEGORY].[CODCATEGORY]
, [INCOME].[TYPE_ID] = [q1_CATEGORY_TYPE].[CODCATEGORY_TYPE]
, [INCOME].[GROUP_ID] = [q2_GROUP].[CODGROUP]
, [INCOME].[MEMBER_ID] = [q3_MEMBER].[CODMEMBER]
, [INCOME].[SOURCE_ID] = [q4_SOURCE].[CODSOURCE]
 FROM [W_GnBD].[dbo].[MNTINCOME] AS [INCOME]
LEFT JOIN [MNTCATEGORY] AS [q0_CATEGORY] ON [INCOME].[CATEGORY_ID] = [q0_CATEGORY].[CODCATEGORY]
LEFT JOIN [MNTCATEGORY_TYPE] AS [q1_CATEGORY_TYPE] ON [INCOME].[TYPE_ID] = [q1_CATEGORY_TYPE].[CODCATEGORY_TYPE]
LEFT JOIN [MNTGROUP] AS [q2_GROUP] ON [INCOME].[GROUP_ID] = [q2_GROUP].[CODGROUP]
LEFT JOIN [MNTMEMBER] AS [q3_MEMBER] ON [INCOME].[MEMBER_ID] = [q3_MEMBER].[CODMEMBER]
LEFT JOIN [MNTSOURCE] AS [q4_SOURCE] ON [INCOME].[SOURCE_ID] = [q4_SOURCE].[CODSOURCE]
GO

UPDATE [INVESTMENT] SET
[INVESTMENT].[CATEGORY_ID] = [q0_CATEGORY].[CODCATEGORY]
, [INVESTMENT].[TYPE_ID] = [q1_CATEGORY_TYPE].[CODCATEGORY_TYPE]
, [INVESTMENT].[GROUP_ID] = [q2_GROUP].[CODGROUP]
, [INVESTMENT].[MEMBER_ID] = [q3_MEMBER].[CODMEMBER]
, [INVESTMENT].[SOURCE_ID] = [q4_SOURCE].[CODSOURCE]
 FROM [W_GnBD].[dbo].[MNTINVESTMENT] AS [INVESTMENT]
LEFT JOIN [MNTCATEGORY] AS [q0_CATEGORY] ON [INVESTMENT].[CATEGORY_ID] = [q0_CATEGORY].[CODCATEGORY]
LEFT JOIN [MNTCATEGORY_TYPE] AS [q1_CATEGORY_TYPE] ON [INVESTMENT].[TYPE_ID] = [q1_CATEGORY_TYPE].[CODCATEGORY_TYPE]
LEFT JOIN [MNTGROUP] AS [q2_GROUP] ON [INVESTMENT].[GROUP_ID] = [q2_GROUP].[CODGROUP]
LEFT JOIN [MNTMEMBER] AS [q3_MEMBER] ON [INVESTMENT].[MEMBER_ID] = [q3_MEMBER].[CODMEMBER]
LEFT JOIN [MNTSOURCE] AS [q4_SOURCE] ON [INVESTMENT].[SOURCE_ID] = [q4_SOURCE].[CODSOURCE]
GO


USE [W_GnBD]

GO
