USE [W_GnBD]
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[MNTCATEGORY] WITH NOCHECK ADD CONSTRAINT [FK_MNTCATEGORY_TYPE_ID_MNTCATEGORY_TYPE_CODCATEGORY_TYPE] FOREIGN KEY([TYPE_ID]) REFERENCES [dbo].[MNTCATEGORY_TYPE] ([CODCATEGORY_TYPE])
ALTER TABLE [dbo].[MNTCATEGORY] NOCHECK CONSTRAINT [FK_MNTCATEGORY_TYPE_ID_MNTCATEGORY_TYPE_CODCATEGORY_TYPE]

ALTER TABLE [dbo].[MNTGROUP_PSW] WITH NOCHECK ADD CONSTRAINT [FK_MNTGROUP_PSW_GROUP_ID_MNTGROUP_CODGROUP] FOREIGN KEY([GROUP_ID]) REFERENCES [dbo].[MNTGROUP] ([CODGROUP])
ALTER TABLE [dbo].[MNTGROUP_PSW] NOCHECK CONSTRAINT [FK_MNTGROUP_PSW_GROUP_ID_MNTGROUP_CODGROUP]

ALTER TABLE [dbo].[MNTGROUP_PSW] WITH NOCHECK ADD CONSTRAINT [FK_MNTGROUP_PSW_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[MNTGROUP_PSW] NOCHECK CONSTRAINT [FK_MNTGROUP_PSW_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[MNTMEMBER_PSW] WITH NOCHECK ADD CONSTRAINT [FK_MNTMEMBER_PSW_MEMBER_ID_MNTMEMBER_CODMEMBER] FOREIGN KEY([MEMBER_ID]) REFERENCES [dbo].[MNTMEMBER] ([CODMEMBER])
ALTER TABLE [dbo].[MNTMEMBER_PSW] NOCHECK CONSTRAINT [FK_MNTMEMBER_PSW_MEMBER_ID_MNTMEMBER_CODMEMBER]

ALTER TABLE [dbo].[MNTMEMBER_PSW] WITH NOCHECK ADD CONSTRAINT [FK_MNTMEMBER_PSW_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[MNTMEMBER_PSW] NOCHECK CONSTRAINT [FK_MNTMEMBER_PSW_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[MNTMEMBER] WITH NOCHECK ADD CONSTRAINT [FK_MNTMEMBER_GROUP_ID_MNTGROUP_CODGROUP] FOREIGN KEY([GROUP_ID]) REFERENCES [dbo].[MNTGROUP] ([CODGROUP])
ALTER TABLE [dbo].[MNTMEMBER] NOCHECK CONSTRAINT [FK_MNTMEMBER_GROUP_ID_MNTGROUP_CODGROUP]

ALTER TABLE [dbo].[MNTMONTH] WITH NOCHECK ADD CONSTRAINT [FK_MNTMONTH_YEAR_NUMBER_MNTYEAR_CODYEAR] FOREIGN KEY([YEAR_NUMBER]) REFERENCES [dbo].[MNTYEAR] ([CODYEAR])
ALTER TABLE [dbo].[MNTMONTH] NOCHECK CONSTRAINT [FK_MNTMONTH_YEAR_NUMBER_MNTYEAR_CODYEAR]

ALTER TABLE [dbo].[MNTEXPENSE] WITH NOCHECK ADD CONSTRAINT [FK_MNTEXPENSE_CATEGORY_ID_MNTCATEGORY_CODCATEGORY] FOREIGN KEY([CATEGORY_ID]) REFERENCES [dbo].[MNTCATEGORY] ([CODCATEGORY])
ALTER TABLE [dbo].[MNTEXPENSE] NOCHECK CONSTRAINT [FK_MNTEXPENSE_CATEGORY_ID_MNTCATEGORY_CODCATEGORY]

ALTER TABLE [dbo].[MNTEXPENSE] WITH NOCHECK ADD CONSTRAINT [FK_MNTEXPENSE_TYPE_ID_MNTCATEGORY_TYPE_CODCATEGORY_TYPE] FOREIGN KEY([TYPE_ID]) REFERENCES [dbo].[MNTCATEGORY_TYPE] ([CODCATEGORY_TYPE])
ALTER TABLE [dbo].[MNTEXPENSE] NOCHECK CONSTRAINT [FK_MNTEXPENSE_TYPE_ID_MNTCATEGORY_TYPE_CODCATEGORY_TYPE]

ALTER TABLE [dbo].[MNTEXPENSE] WITH NOCHECK ADD CONSTRAINT [FK_MNTEXPENSE_GROUP_ID_MNTGROUP_CODGROUP] FOREIGN KEY([GROUP_ID]) REFERENCES [dbo].[MNTGROUP] ([CODGROUP])
ALTER TABLE [dbo].[MNTEXPENSE] NOCHECK CONSTRAINT [FK_MNTEXPENSE_GROUP_ID_MNTGROUP_CODGROUP]

ALTER TABLE [dbo].[MNTEXPENSE] WITH NOCHECK ADD CONSTRAINT [FK_MNTEXPENSE_MEMBER_ID_MNTMEMBER_CODMEMBER] FOREIGN KEY([MEMBER_ID]) REFERENCES [dbo].[MNTMEMBER] ([CODMEMBER])
ALTER TABLE [dbo].[MNTEXPENSE] NOCHECK CONSTRAINT [FK_MNTEXPENSE_MEMBER_ID_MNTMEMBER_CODMEMBER]

ALTER TABLE [dbo].[MNTEXPENSE] WITH NOCHECK ADD CONSTRAINT [FK_MNTEXPENSE_MONTH_FK_MNTMONTH_CODMONTH] FOREIGN KEY([MONTH_FK]) REFERENCES [dbo].[MNTMONTH] ([CODMONTH])
ALTER TABLE [dbo].[MNTEXPENSE] NOCHECK CONSTRAINT [FK_MNTEXPENSE_MONTH_FK_MNTMONTH_CODMONTH]

ALTER TABLE [dbo].[MNTEXPENSE] WITH NOCHECK ADD CONSTRAINT [FK_MNTEXPENSE_SOURCE_ID_MNTSOURCE_CODSOURCE] FOREIGN KEY([SOURCE_ID]) REFERENCES [dbo].[MNTSOURCE] ([CODSOURCE])
ALTER TABLE [dbo].[MNTEXPENSE] NOCHECK CONSTRAINT [FK_MNTEXPENSE_SOURCE_ID_MNTSOURCE_CODSOURCE]

ALTER TABLE [dbo].[MNTINCOME] WITH NOCHECK ADD CONSTRAINT [FK_MNTINCOME_CATEGORY_ID_MNTCATEGORY_CODCATEGORY] FOREIGN KEY([CATEGORY_ID]) REFERENCES [dbo].[MNTCATEGORY] ([CODCATEGORY])
ALTER TABLE [dbo].[MNTINCOME] NOCHECK CONSTRAINT [FK_MNTINCOME_CATEGORY_ID_MNTCATEGORY_CODCATEGORY]

ALTER TABLE [dbo].[MNTINCOME] WITH NOCHECK ADD CONSTRAINT [FK_MNTINCOME_TYPE_ID_MNTCATEGORY_TYPE_CODCATEGORY_TYPE] FOREIGN KEY([TYPE_ID]) REFERENCES [dbo].[MNTCATEGORY_TYPE] ([CODCATEGORY_TYPE])
ALTER TABLE [dbo].[MNTINCOME] NOCHECK CONSTRAINT [FK_MNTINCOME_TYPE_ID_MNTCATEGORY_TYPE_CODCATEGORY_TYPE]

ALTER TABLE [dbo].[MNTINCOME] WITH NOCHECK ADD CONSTRAINT [FK_MNTINCOME_GROUP_ID_MNTGROUP_CODGROUP] FOREIGN KEY([GROUP_ID]) REFERENCES [dbo].[MNTGROUP] ([CODGROUP])
ALTER TABLE [dbo].[MNTINCOME] NOCHECK CONSTRAINT [FK_MNTINCOME_GROUP_ID_MNTGROUP_CODGROUP]

ALTER TABLE [dbo].[MNTINCOME] WITH NOCHECK ADD CONSTRAINT [FK_MNTINCOME_MEMBER_ID_MNTMEMBER_CODMEMBER] FOREIGN KEY([MEMBER_ID]) REFERENCES [dbo].[MNTMEMBER] ([CODMEMBER])
ALTER TABLE [dbo].[MNTINCOME] NOCHECK CONSTRAINT [FK_MNTINCOME_MEMBER_ID_MNTMEMBER_CODMEMBER]

ALTER TABLE [dbo].[MNTINCOME] WITH NOCHECK ADD CONSTRAINT [FK_MNTINCOME_SOURCE_ID_MNTSOURCE_CODSOURCE] FOREIGN KEY([SOURCE_ID]) REFERENCES [dbo].[MNTSOURCE] ([CODSOURCE])
ALTER TABLE [dbo].[MNTINCOME] NOCHECK CONSTRAINT [FK_MNTINCOME_SOURCE_ID_MNTSOURCE_CODSOURCE]

ALTER TABLE [dbo].[MNTINVESTMENT] WITH NOCHECK ADD CONSTRAINT [FK_MNTINVESTMENT_CATEGORY_ID_MNTCATEGORY_CODCATEGORY] FOREIGN KEY([CATEGORY_ID]) REFERENCES [dbo].[MNTCATEGORY] ([CODCATEGORY])
ALTER TABLE [dbo].[MNTINVESTMENT] NOCHECK CONSTRAINT [FK_MNTINVESTMENT_CATEGORY_ID_MNTCATEGORY_CODCATEGORY]

ALTER TABLE [dbo].[MNTINVESTMENT] WITH NOCHECK ADD CONSTRAINT [FK_MNTINVESTMENT_TYPE_ID_MNTCATEGORY_TYPE_CODCATEGORY_TYPE] FOREIGN KEY([TYPE_ID]) REFERENCES [dbo].[MNTCATEGORY_TYPE] ([CODCATEGORY_TYPE])
ALTER TABLE [dbo].[MNTINVESTMENT] NOCHECK CONSTRAINT [FK_MNTINVESTMENT_TYPE_ID_MNTCATEGORY_TYPE_CODCATEGORY_TYPE]

ALTER TABLE [dbo].[MNTINVESTMENT] WITH NOCHECK ADD CONSTRAINT [FK_MNTINVESTMENT_GROUP_ID_MNTGROUP_CODGROUP] FOREIGN KEY([GROUP_ID]) REFERENCES [dbo].[MNTGROUP] ([CODGROUP])
ALTER TABLE [dbo].[MNTINVESTMENT] NOCHECK CONSTRAINT [FK_MNTINVESTMENT_GROUP_ID_MNTGROUP_CODGROUP]

ALTER TABLE [dbo].[MNTINVESTMENT] WITH NOCHECK ADD CONSTRAINT [FK_MNTINVESTMENT_MEMBER_ID_MNTMEMBER_CODMEMBER] FOREIGN KEY([MEMBER_ID]) REFERENCES [dbo].[MNTMEMBER] ([CODMEMBER])
ALTER TABLE [dbo].[MNTINVESTMENT] NOCHECK CONSTRAINT [FK_MNTINVESTMENT_MEMBER_ID_MNTMEMBER_CODMEMBER]

ALTER TABLE [dbo].[MNTINVESTMENT] WITH NOCHECK ADD CONSTRAINT [FK_MNTINVESTMENT_SOURCE_ID_MNTSOURCE_CODSOURCE] FOREIGN KEY([SOURCE_ID]) REFERENCES [dbo].[MNTSOURCE] ([CODSOURCE])
ALTER TABLE [dbo].[MNTINVESTMENT] NOCHECK CONSTRAINT [FK_MNTINVESTMENT_SOURCE_ID_MNTSOURCE_CODSOURCE]

ALTER TABLE [dbo].[MNTSOURCE] WITH NOCHECK ADD CONSTRAINT [FK_MNTSOURCE_GROUP_ID_MNTGROUP_CODGROUP] FOREIGN KEY([GROUP_ID]) REFERENCES [dbo].[MNTGROUP] ([CODGROUP])
ALTER TABLE [dbo].[MNTSOURCE] NOCHECK CONSTRAINT [FK_MNTSOURCE_GROUP_ID_MNTGROUP_CODGROUP]

ALTER TABLE [dbo].[MNTSOURCE] WITH NOCHECK ADD CONSTRAINT [FK_MNTSOURCE_MEMBER_ID_MNTMEMBER_CODMEMBER] FOREIGN KEY([MEMBER_ID]) REFERENCES [dbo].[MNTMEMBER] ([CODMEMBER])
ALTER TABLE [dbo].[MNTSOURCE] NOCHECK CONSTRAINT [FK_MNTSOURCE_MEMBER_ID_MNTMEMBER_CODMEMBER]

GO
