*{mntcategory_type}*
GO
*{mntgroup}*
GO
*{mntmem}*
GO
*{userlogin}*
GO
*{asyncprocess}*
USE [W_GnBD]
update [s_apr] set [finished] = (case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end) from [asyncprocess] as [s_apr]
GO
*{notificationemailsignature}*
GO
*{notificationmessage}*
GO
*{mntyear}*
GO
*{mntcategory}*
GO
*{mntgroup_psw}*
GO
*{mntmember}*
USE [W_GnBD]
update [member] set [age] = FLOOR(dbo.Diferenca_entre_Datas([member].[birthday],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),'D')/365) from [mntmember] as [member]
GO
*{mntmonth}*
GO
*{asyncprocessargument}*
GO
*{asyncprocessattachments}*
GO
*{userauthorization}*
USE [W_GnBD]
update [s_ua] set [naodupli] = dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo] from [userauthorization] as [s_ua]
update [s_ua] set [nivel] = dbo.GetLevelFromRole(0,[s_ua].[role]) from [userauthorization] as [s_ua]
GO
*{mntmember_psw}*
GO
*{mntsource}*
GO
*{mntexpense}*
USE [W_GnBD]
update [expense] set [month] = month([expense].[date]) from [mntexpense] as [expense]
GO
*{mntincome}*
GO
*{mntinvestment}*
GO
