*{mntinvestment}*
GO
USE [W_GnBD]
GO
*{mntincome}*
GO
USE [W_GnBD]
GO
*{mntexpense}*
GO
USE [W_GnBD]
GO
*{mntsource}*
GO
USE [W_GnBD]
GO
*{mntmember_psw}*
GO
USE [W_GnBD]
GO
*{userauthorization}*
GO
USE [W_GnBD]
GO
*{asyncprocessattachments}*
GO
USE [W_GnBD]
GO
*{asyncprocessargument}*
GO
USE [W_GnBD]
GO
*{mntmonth}*
GO
USE [W_GnBD]
GO
*{mntmember}*
USE [W_GnBD]
update [mntmember] set
     [expenses] = + (select isnull(sum(source.[VALUE]),0) from [mntexpense] as source where [mntmember].[codmember] = source.[member_id] and source.zzstate = 0)
     ,[income] = + (select isnull(sum(source.[VALUE]),0) from [mntincome] as source where [mntmember].[codmember] = source.[member_id] and source.zzstate = 0)
     ,[investment] = + (select isnull(sum(source.[VALUE]),0) from [mntinvestment] as source where [mntmember].[codmember] = source.[member_id] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{mntgroup_psw}*
GO
USE [W_GnBD]
GO
*{mntcategory}*
GO
USE [W_GnBD]
GO
*{mntyear}*
GO
USE [W_GnBD]
GO
*{notificationmessage}*
GO
USE [W_GnBD]
GO
*{notificationemailsignature}*
GO
USE [W_GnBD]
GO
*{asyncprocess}*
GO
USE [W_GnBD]
GO
*{userlogin}*
GO
USE [W_GnBD]
GO
*{mntmem}*
GO
USE [W_GnBD]
GO
*{mntgroup}*
GO
USE [W_GnBD]
GO
*{mntcategory_type}*
USE [W_GnBD]
update [mntcategory_type] set
     [total_sum] = + (select isnull(sum(source.[VALUE]),0) from [mntexpense] as source where [mntcategory_type].[codcategory_type] = source.[type_id] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
