-- recalculo de fórmulas para a tabela MNTINVESTMENT
GO
GO
-- recalculo de fórmulas para a tabela MNTINCOME
GO
GO
-- recalculo de fórmulas para a tabela MNTEXPENSE
GO
GO
-- recalculo de fórmulas para a tabela MNTSOURCE
GO
GO
-- recalculo de fórmulas para a tabela MNTMEMBER_PSW
GO
GO
-- recalculo de fórmulas para a tabela UserAuthorization
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]


GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessAttachments
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessArgument
GO
GO
-- recalculo de fórmulas para a tabela MNTMEMBER
GO
GO
-- recalculo de fórmulas para a tabela MNTGROUP_PSW
GO
GO
-- recalculo de fórmulas para a tabela MNTCATEGORY
GO
GO
-- recalculo de fórmulas para a tabela NotificationMessage
GO
GO
-- recalculo de fórmulas para a tabela NotificationEmailSignature
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcess
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]


GO
GO
-- recalculo de fórmulas para a tabela UserLogin
GO
GO
-- recalculo de fórmulas para a tabela MNTMEM
GO
GO
-- recalculo de fórmulas para a tabela MNTGROUP
GO
GO
-- recalculo de fórmulas para a tabela MNTCATEGORY_TYPE
GO
GO


GO
