USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTCATEGORY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTCATEGORY', coalesce(cast((select max(codcategory) from MNTCATEGORY) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTCATEGORY_TYPE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTCATEGORY_TYPE', coalesce(cast((select max(codcategory_type) from MNTCATEGORY_TYPE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTEXPENSE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTEXPENSE', coalesce(cast((select max(codexpense) from MNTEXPENSE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTGROUP')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTGROUP', coalesce(cast((select max(codgroup) from MNTGROUP) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTINCOME')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTINCOME', coalesce(cast((select max(codincome) from MNTINCOME) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTINVESTMENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTINVESTMENT', coalesce(cast((select max(codinvestment) from MNTINVESTMENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTMEMBER')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTMEMBER', coalesce(cast((select max(codmember) from MNTMEMBER) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTMEMBER_PSW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTMEMBER_PSW', coalesce(cast((select max(codmember_psw) from MNTMEMBER_PSW) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTSOURCE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTSOURCE', coalesce(cast((select max(codsource) from MNTSOURCE) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTMEM', coalesce(cast((select max(CODMEM) from MNTMEM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTCFG', coalesce(cast((select max(CODCFG) from MNTCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTUSRSET', coalesce(cast((select max(CODUSRSET) from MNTUSRSET) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTUSRCFG', coalesce(cast((select max(CODUSRCFG) from MNTUSRCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTWKFACT', coalesce(cast((select max(CODWKFACT) from MNTWKFACT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTWKFCON', coalesce(cast((select max(CODWKFCON) from MNTWKFCON) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTWKFLIG', coalesce(cast((select max(CODWKFLIG) from MNTWKFLIG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTWKFLOW', coalesce(cast((select max(CODWKFLOW) from MNTWKFLOW) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTNOTIFI', coalesce(cast((select max(CODNOTIFI) from MNTNOTIFI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTSCRCRD', coalesce(cast((select max(CODSCRCRD) from MNTSCRCRD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTPOSTIT', coalesce(cast((select max(CODPOSTIT) from MNTPOSTIT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTPRMFRM', coalesce(cast((select max(CODPRMFRM) from MNTPRMFRM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTALERTA', coalesce(cast((select max(CODALERTA) from MNTALERTA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTALTENT', coalesce(cast((select max(CODALTENT) from MNTALTENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTTALERT', coalesce(cast((select max(CODTALERT) from MNTTALERT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTDELEGA', coalesce(cast((select max(CODDELEGA) from MNTDELEGA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTLSTUSR', coalesce(cast((select max(CODLSTUSR) from MNTLSTUSR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTLSTCOL', coalesce(cast((select max(CODLSTCOL) from MNTLSTCOL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTLSTREN', coalesce(cast((select max(CODLSTREN) from MNTLSTREN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTUSRWID', coalesce(cast((select max(CODUSRWID) from MNTUSRWID) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTTBLCFG', coalesce(cast((select max(CODTBLCFG) from MNTTBLCFG) as bigint) + 1, 1))

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from MNTWORKFLOWPROCESS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MNTWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MNTWORKFLOWTASK', coalesce(cast((select max(CODTASK) from MNTWORKFLOWTASK) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
GO
 