update mntcategory_type set mntcategory_type.total_sum = 0;
update mntmember set mntmember.expenses = 0;
GO
update mntmember set mntmember.income = 0;
GO
update mntmember set mntmember.investment = 0;
GO
