-- Delete all stored procedures that start with Genio.
-- This is needed because previous changes to the procedure signature keep the old versions active,
-- which can pass unnoticed very easily in existing applications
DECLARE @deleteSql NVARCHAR(MAX) = '';
SELECT @deleteSql += 'DROP PROCEDURE ' + QUOTENAME(SCHEMA_NAME(schema_id)) + '.' + QUOTENAME(name) + ';' + CHAR(13)
FROM sys.procedures
WHERE name LIKE 'genio_%';

USE [W_GnBD]
EXEC sp_executesql @deleteSql;
-----------------------------------------------------------
-- CATEGORY_TYPE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_CATEGORY_TYPE
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CATEGORY_TYPE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [mntcategory_type] set
	 [total_sum] =  + isnull([sum__expense__type_id].[sum__value], 0)
from [mntcategory_type] sr__dest
left join (
	SELECT [type_id], sum([value]) as [sum__value]
 FROM [mntexpense]
 WHERE [zzstate] = 0 
 GROUP BY [type_id]
) [sum__expense__type_id] ON [sum__expense__type_id].[type_id] = sr__dest.[codcategory_type]
where (sr__dest.[codcategory_type] = @x OR @x IS NULL);

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
END')
GO
-----------------------------------------------------------
-- CATEGORY_TYPE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_CATEGORY_TYPE
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CATEGORY_TYPE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [mntcategory_type] set
	 [total_sum] =  + isnull([sum__expense__type_id].[sum__value], 0)
from [mntcategory_type] sr__dest
left join (
	SELECT [type_id], sum([value]) as [sum__value]
 FROM [mntexpense]
 WHERE [zzstate] = 0 
 GROUP BY [type_id]
) [sum__expense__type_id] ON [sum__expense__type_id].[type_id] = sr__dest.[codcategory_type]
where (sr__dest.[codcategory_type] in (select item from @x));

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_CATEGORY_TYPE @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CATEGORY_TYPE
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [category_type] set
	[TOTAL_SUM] = COALESCE([category_type].[TOTAL_SUM], 0)
	FROM [mntcategory_type] AS [category_type]

	WHERE ([category_type].[codcategory_type] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- GROUP
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_GROUP
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de GROUP
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- GROUP
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_GROUP
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de GROUP
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_GROUP @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for GROUP
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_MEM
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_MEM
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_MEM @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for MEM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserLogin
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserLogin
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserLogin @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PSW
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [psw] set
	[ATTEMPTS] = COALESCE([psw].[ATTEMPTS], 0)
 ,	[STATUS] = COALESCE([psw].[STATUS], 0)
	FROM [userlogin] AS [psw]

	WHERE ([psw].[codpsw] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcess
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcess
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcess @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_APR
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_apr] set
	[PERCENTA] = COALESCE([s_apr].[PERCENTA], 0)
	FROM [asyncprocess] AS [s_apr]

	WHERE ([s_apr].[codascpr] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationEmailSignature
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationEmailSignature
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationEmailSignature @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NES
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationMessage
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationMessage
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationMessage @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- CATEGORY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_CATEGORY
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CATEGORY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- CATEGORY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_CATEGORY
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CATEGORY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_CATEGORY @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CATEGORY
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- GROUP_PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_GROUP_PSW
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de GROUP_PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- GROUP_PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_GROUP_PSW
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de GROUP_PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_GROUP_PSW @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for GROUP_PSW
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- MEMBER
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_MEMBER
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEMBER
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [member]
SET [member].[age] =FLOOR(dbo.Diferenca_entre_Datas([member].[birthday],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),''D'')/365)
FROM [mntmember] AS [member]

 where ([member].[codmember] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- MEMBER
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_MEMBER
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEMBER
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [member]
SET [member].[age] =FLOOR(dbo.Diferenca_entre_Datas([member].[birthday],cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime),''D'')/365)
FROM [mntmember] AS [member]

 where ([member].[codmember] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_MEMBER @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for MEMBER
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [member] set
	[AGE] = COALESCE([member].[AGE], 0)
	FROM [mntmember] AS [member]

	WHERE ([member].[codmember] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessArgument
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessArgument
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessArgument @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessAttachments
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessAttachments
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessAttachments @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserAuthorization
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserAuthorization
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserAuthorization @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_UA
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_ua] set
	[NIVEL] = COALESCE([s_ua].[NIVEL], 0)
	FROM [userauthorization] AS [s_ua]

	WHERE ([s_ua].[codua] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- MEMBER_PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_MEMBER_PSW
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEMBER_PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- MEMBER_PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_MEMBER_PSW
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEMBER_PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_MEMBER_PSW @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for MEMBER_PSW
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- SOURCE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_SOURCE
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de SOURCE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- SOURCE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_SOURCE
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de SOURCE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_SOURCE @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for SOURCE
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [source] set
	[TYPE] = COALESCE([source].[TYPE], ''CA'')
 ,	[BALANCE] = COALESCE([source].[BALANCE], 0)
	FROM [mntsource] AS [source]

	WHERE ([source].[codsource] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- EXPENSE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_EXPENSE
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de EXPENSE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- EXPENSE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_EXPENSE
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de EXPENSE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_EXPENSE @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for EXPENSE
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [expense] set
	[VALUE] = COALESCE([expense].[VALUE], 0)
	FROM [mntexpense] AS [expense]

	WHERE ([expense].[codexpense] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- INCOME
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_INCOME
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de INCOME
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- INCOME
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_INCOME
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de INCOME
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_INCOME @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for INCOME
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [income] set
	[VALUE] = COALESCE([income].[VALUE], 0)
	FROM [mntincome] AS [income]

	WHERE ([income].[codincome] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- INVESTMENT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_INVESTMENT
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de INVESTMENT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- INVESTMENT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_INVESTMENT
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de INVESTMENT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_INVESTMENT @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for INVESTMENT
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [investment] set
	[VALUE] = COALESCE([investment].[VALUE], 0)
	FROM [mntinvestment] AS [investment]

	WHERE ([investment].[codinvestment] in (select item from @x))
END')
GO
