IF((SELECT COUNT(1) FROM MNTcfg) = 0)
	INSERT INTO MNTcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2501, 0, NULL, 0, 0)
ELSE
  UPDATE MNTcfg set versao = 2501, upgrindx = 0;
GO
