$input-focus-color:rgba(14, 165, 164, 0.35);
$red:#DC2626;
$enable-switch-single-label:false;
$button-focus-color:rgba(4, 120, 87, 0.35);
$navbar-font-size:0.8rem;
$light:#E2E8F0;
$font-size-base:0.7rem;
$headings-text-transform:uppercase;
$action-focus-style:solid;
$action-focus-color:#047857;

/* eslint-disable indent, vue/html-indent, vue/script-indent */
// USE /[MANUAL MNT CSS_THEMEVARIABLES]/
// eslint-disable-next-line
/* eslint-enable indent, vue/html-indent, vue/script-indent */

/* eslint-disable indent, vue/html-indent, vue/script-indent */
// USE /[MANUAL MNT CSS_THEMEVARIABLES QUIDGEST]/
// eslint-disable-next-line
/* eslint-enable indent, vue/html-indent, vue/script-indent */
